// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import '~vuetify/src/styles/styles.sass';

$sheet-border-radius: 6px;
$card-border-radius: 6px;
$list-border-radius: 6px;

$grid-breakpoints: ('xs': 0,
  'sm': 576px,
  'md': 900px,
  'lg': 1400px - 24px,
  'xl': 1600 - 24px);

.v-application .v-chip.primary {
  background: rgba(188, 123, 255, 0.12157) !important;
  color: #ba7ff6 !important;
}

.v-application .v-chip.success {
  background: #96ff7b1f !important;
  color: #40ed93 !important;
}

.v-application .v-chip.info {
  background: #bc7bff1f !important;
  color: #00A1FF !important;
}

.v-application .v-chip.error {
  background: #ff7b7b1f !important;
  color: #ff6d6d !important;
}

.v-application .v-chip.warning {
  background: #ffbb7b1f !important;
  color: #ffbb6d !important;
}

.v-calendar,
.v-calendar * {
  background: transparent !important;
  border-color: #332d90 !important;
}

.v-calendar-daily .v-calendar-daily__intervals-head::after {
  background: transparent !important;
}

.v-application #baseSheet.sheets--outlined {
  border: 1px solid #c9afff3b !important;
}

.gap-sm {
  gap: 5px;
}

.gap-md {
  gap: 9px;
}

.gap-lg {
  gap: 13px;
}

.v-window.v-item-group.theme--dark.v-tabs-items {
  background: transparent !important;
}

.theme--dark.v-data-table tbody tr.v-data-table__selected {
  background: var(--v-base-lighten1) !important;
}

.v-application .glass {
  background-color: #ffffff0a !important;
}

$material-dark: (cards: var(--v-tertiary-base));

@media only screen and (min-width: map-get($grid-breakpoints, 'lg')) {
  .container {
    max-width: 90% !important;
  }
}

@media only screen and (min-width: map-get($grid-breakpoints, 'xl')) {
  .container {
    max-width: 1600px !important;
  }
}
